@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');

*{
   
    margin: 0;
    padding: 0;
    font-family: "montserrat", sans-serif;
}

body{
    background: #ffffff;
}

li, a, button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none; 

}

 header{
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px 10%;
    background:rgb(79, 39, 1);
}

html{
    scroll-behavior: smooth;
}

.card body{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

/*nav*/

.menu_bar{
    display: none;
}


@media (max-width: 800px) {
    
    .nav_links_inicio{
        display: none;
    }

   .logo-pc{
       display: none;
   }

   
}

@media (min-width: 800px) {

    .logo-mobile{
        display: none;
    }

    }


.logo{
    cursor:pointer;
    height: 60px
}



.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all o.3s ease 0s;
}


.nav_links li a:hover {
    color: rgb(157, 138, 105)
}

button{
    padding: 9px 25px;
    background-color: rgb(194, 194, 194);
    border:none; 
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover{
    background-color:rgb(155, 127, 99)
}

.titulo_principal{
    text-align: center;
}

.login{
   margin: 10px;
}



/*showcase*/

.showcase{
    width: 100%;
    height: 200px;
    background: url('image/pexels-foodie-factor-539432.jpg') no-repeat center center/cover;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
    
}



.showcase h2,
.showcase p{
    margin-bottom: 20px;
    padding: 30px;
    color: #edf0f1;
    
}

.contenedor-show{
    display: flex;
    width: 500px;
    height: 40px;
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    overflow: hidden;
    text-align: center;
}

.contenedor-show ul{
    list-style: none;
    padding-left:10px ;
    animation: cambiar 10s infinite;
}

.contenedor-show ul,
.contenedor-show p {
    margin: 0;
    
}

@keyframes cambiar {

    0% {margin-top:0;}
    20% {margin-top: 0;}

    25% {margin-top: -40px;}
    50% {margin-top: -40px;}

    55% {margin-top: -80px;}
    80% {margin-top: -80px;}

    85% {margin-top: -40px;}
    95% {margin-top: -40px;}

    100% {margin-top: 0;}
}




/*cards*/ 

.titulo{
    
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.titulo_card{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
   
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
    
}


.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    margin: 50px;
}

.container .card:hover{
    height:420px;
}



.container  .card  .imbx{
position: relative;
width: 260px;
height: 260px;
top: -60px;
left: 20px;
z-index: 1;
box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card  .imbx img {
    height: 300px;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding:  10px 45px;
    text-align:  center;
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
 
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
   margin-top: 40px;
   transition-delay: 0.3s;
   
}

    /*service*/
    .service {
        display: grid;
        grid-template-rows: repeat(2 , auto);
       
        padding: 4rem;
    
    }
    
    @media (min-width: 768px) {
        .service {
            
            grid-template-columns: repeat(2, 1fr); 
            column-gap: 2rem;
            
         }
    
    } 
    

    
    .cont_img_ser, .service__img{
        grid-row: 1 / 2;
        grid-template-columns: 1 / 2;
        height: 400px;
        margin-left: 30px;
        
     }   
    
    
    
    @media (min-width: 768px) {
     
        .cont_img_ser, .service__img {
            grid-column: 1 / 2;
           
            height: 600px;
            
    
        }
    
    }
    
    
    .contenedor_ser {
        background:rgb(79, 39, 1);
       }
    
       .service__contenido {
        margin-top: 150px;
       }   
        
     @media (max-width: 768px){
    .service__contenido {
     margin-top: 10px;
     margin-bottom: 0 ;
      }
    }
    
    
    .contenedor_ser h2{
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        color: #fff;
       margin-top:50px ;
    
       }

       .p_service{
        color: rgb(156, 156, 156);
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        margin-top:50px ;
    }
    
    
       .contenedor_ser h2,
       .contenedor h2{
           font-size: 40px;
       }




   /* slider */ 

   .slider{
       width: 100%;
       height: 600px;
       overflow: hidden;

   }

   @media (max-width: 700px) {
       .slider{
        width: 100%;
        height: 327.91px;
       }
    }

   .slider ul{
       display: flex;
       animation: cambioo 20s infinite
       alternate linear;
       width: 400%;
   }

   .slider li {
       width: 100%;
       list-style: none;

   }

   .slider img {
       width: 100%;
       height: 100%;
       object-fit: cover;
       
   }

   @keyframes cambioo{
       0% {margin-left: 0;}
       20%{margin-left: 0;}

       25%{margin-left: -100%;}
       45%{margin-left: -100%;}

       50%{margin-left: -200%;}
       70%{margin-left: -200%;}

       75%{margin-left: -300%;}
       100%{margin-left: -300%;}
    }



/*nosotros*/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2 , auto);
   
    padding: 4rem;

}

@media (min-width: 768px) {
    .nosotros {
        
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        
     }

} 





.nosotros__img{
    grid-row: 1 / 2;
    grid-template-columns: 1 / 2;
    height: 400px;
    margin-left: 80px;
  
 }   



@media (min-width: 768px) {
 
    .nosotros__img {
        grid-column: 2 / 3;
        margin-top: 50px;
        margin-left: 50px;
        height: 600px;
        

    }

}

@media (min-width: 768px) {
.contenedor {
    background: rgba(0, 0, 0, 0.075);
   }
}

.nosotros__contenido {
    margin-top: 150px;
    margin-bottom: 0;
}


@media (max-width: 768px) {
.nosotros__contenido {
 margin-top: 10px;
 margin-bottom: 0;
}
}

.contenedor p{
    color: rgb(80, 80, 80);
}
 
.contenedor p, 
.contenedor h2{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top:50px ;
   }




/*footer*/ 

footer{
    background: url('image/body.jpg')no-repeat center center/cover;
    height: auto;
    width: 100%;
    font-family: "Openn Sans";
    padding-top: 40px;
    color: #fff;
   
   
  
}

.footer-content{
    display: grid; 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    backdrop-filter: blur(1.5px);
    background-color: rgba(0, 0, 0, 0.616);
}


.footer-content h3 {
    font-size: 1rem;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    margin: 5px auto;
    line-height: 28px;
    font-size: 15px;
}

 .content-social{
     grid-template-columns: 2 / 3;
     grid-row: -3 / -2;
 }

  .socials{
    list-style: none;
    margin: 1rem 0 3rem 0 ;
    
}

.socials li{
    margin: 0 10px;
}

 .socials a{
    text-decoration: none;
    color: #fff;
}


.socials a i{
    margin: 30px;
    font-size: 5rem;
    
}

.socials a:hover i{
    color: rgb(148, 127, 100);
}

.footer-bottom{
    background:rgb(79, 39, 1);
}

.footer-bottom p{
    font-size: 10px;
    word-spacing: 3px;
    text-transform: capitalize;
    
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4 ;
    font-weight: 200;
}

 .text-footer{
    grid-template-columns: 1 / 2;
    grid-row: -2 / -3;
    text-align: left;
    padding-left: 30px ;
    
}


/* Pestañas login and register*/

/*login*/

section{
    box-sizing: border-box;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgbxl {
    position: relative;
    width: 50%;
    height: 100%;
}



section .imgbxl:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#f0e3328a,#744601);
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgbxl img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentbxl{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

section .contentbxl .formbxl{
    width: 50%;
}

section .contentbxl .formbxl h2{
    color:  #5a3e00;
    font-weight: 600;
    font-size:  1.5rem;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ffd445 ;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentbxl .formbxl .inputbxl{
    margin-bottom: 20px;
}


section .contentbxl .formbxl .inputbxl span{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #6d5300;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentbxl .formbxl .inputbxl input{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #444444;
    font-size: 16px;
    letter-spacing: 1px;
    color: #5c5c5c;
    background: transparent;
    border-radius: 30px;
}

section .contentbxl .formbxl .inputbxl input[type="submit"]{
    background: #000000;
    color:#fff ;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}

section .contentbxl .formbxl .inputbxl input[type="submit"]:hover{
    background: #ffd30f;
}

section .contentbxl .formbxl .remember{
    margin-bottom: 10px;
    color: #635208;
    font-weight: 400;
    
}

section .contentbxl .formbxl .inputbxl p{
    color: #607d8b;
}

section .contentbxl .formbxl .inputbxl p{
    color: #000000;
}


section .contentbxl .formbxl .inputbxl p{
    color: #000000;
}

section .contentbxl .formbxl .inputbxl p a{
    color: #ccc920;
}

@media (max-width: 768px ){
   section .imgbxl{
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       z-index: 1;
   } 

   section .contentbxl{
       display: flex;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
      
       z-index: 1;
   }
   
   section .contentbxl .formbxl {
       width: 100%;
       padding: 40px;
       background: rgb(255 255 255 / 0.9);
       margin: 50px;
   }
   section .contentbxl .formbxl .inputbxl input{
    width: 90%;
   }
}



/*register*/

.body-reg{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(/image/fondo-regg.jpeg);
    background-size: cover;
    background-attachment: fixed;
}

.content-reg{
    display: flex;
    align-content: center;
    justify-content: center;
    
}

.formWraper{
    display: flex;
    width: 55%;
    height: 550px;
    background-color: rgba(248, 221, 68, 0.575);
    margin-top: 80px;
    border-radius: 10px;
    box-shadow: 0px 0px 20x black;
    padding: 3px;ç
    
   
}



.formDiv{
    width: 50%;
    padding: 8%;
    background-color: white;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

.formDiv h2{
    color: rgb(255, 224, 47);
    margin-top: -5px;
    margin-bottom: 10px;
}





.welcomeDiv{
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: center;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.322);
    
    
    
}

.content_w_d{
    background-image:  url(/image/fondo-reg-chiquito.jpg);
    background-size: cover;
   
   
}

.welcomeDiv h2{
    margin-top: 150px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.socialBtn{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

 .ll i{
    margin-left: 8px;
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(250, 250, 250);
    margin: 15px;
    line-height: 30px;
    box-shadow: 0px 0px 10px black;
    
}

.text-reg{
    font-size: small;
    margin: 10px;
}



.formGroup{
    width: 100%;
    position: relative;

}

.formGroup input{
    width: 93%;
    padding: 10px;
    margin-bottom: 5px;
    text-indent: 20px;
    border-radius: 30px;
    border: 1px solid rgb(167, 165, 165);
}

.formGroup i{
    position: absolute;
    left: 10px;
    top: 12px;
    color: grey;
    font-size: smaller;
    
}

input::placeholder{
position: relative;
left: 20px;
}

.checkBox{
width: 100%;
margin-top: 2px;
}

.btn-reg{
    background-color: rgb(243, 217, 70);
    color: white;
    border-style: none;
    margin-top: 20px;
}

.btn-reg2{
    background-color: transparent; 
    border: 2px solid black;
    margin-top: 30px;
}

.icon:hover{
   background-color: #99876b; 
   cursor: pointer;
}



@media screen and (max-width: 800px){
    .formDiv{
        width: 90%;
        border-radius: 10px 10px 10px 10px;
    }

    .welcomeDiv{
        display: none;
    }


}