@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
   
    margin: 0;
    padding: 0;
  
}

li, a, button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none; 

}

 header{
    box-sizing: border-box;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 10%;
    background:rgb(79, 39, 1);
}

.card body{
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo{
cursor:pointer;
height: 60px
}

.nav_links {
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all o.3s ease 0s;
}


.nav_links li a:hover {
    color: rgb(157, 138, 105)
}

button{
    padding: 9px 25px;
    background-color: rgb(194, 194, 194);
    border:none; 
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color:rgb(155, 127, 99)
}

/*cards*/ 


.container {
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center ;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 200px;
}

.container .card {
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 202px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover{
    height:420px;
}


.container  .card  .imbx{
position: relative;
width: 260px;
height: 260px;
top: -60px;
left: 20px;
z-index: 1;
box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container, .card,  .imbx img {
    height: 300px;
    width: 100%;
    border-radius: 4px;
    
}

.container .card .content {
    position: relative;
    margin-top: -140px;
    padding:  10px 15px;
    text-align center;
    color: rgb(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.container .card:hover .content {
    visibility: visible;
    opacity: 1;
   margin-top: 40px;
   transition-delay: 0.3s;
}


/*footer*/ 

footer{
    background-image: url(image/body.jpg);
    height: auto;
    width: 100%;
    font-family: "Openn Sans";
    padding-top: 40px;
    color: #fff;

}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    backdrop-filter: blur(1px);
   
}


.footer-content h3 {
    font-size: 2rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;

}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 16px;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    margin: 1rem 0 3rem 0 ;

}

.socials li{
    margin: 0 10px;
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    
}

.socials a:hover i{
    color: rgb(148, 127, 100);
}

.footer-bottom{
    background: #000;
    width: 100%;
    padding: 20px 0 ;
    text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4 ;
    font-weight: 200;
}